body, html{
    width:100%;
    height:100%;
    margin:0;
}

h3{
    display:block;
    margin:0;
}

.container{
    margin:auto;
}

.top_content{
    width:100%;
    height:150px;
    background-color: rgb(207, 207, 207);
}

.work_space{
    width:100%;
    height:700px;
    text-align: center;
}

.bottom_content{
    width:100%;
    height:170px;
    background-color:rgb(207, 207, 207);
    text-align: center;
    
}

.menu_btn{
    background-color: rgb(244, 241, 241);
    margin:20px;
    text-align: center;
    width:90px;
    height:90px;
    border:none;
    cursor:pointer;
}

.top_menu_side{
    float:left;
}

.top_mypage_side{
    float:right;
}

.mypage_btn{
    margin:18px;
    height:100px;
    background-color: rgb(207, 207, 207);
    border:none;
    cursor:pointer;
    font-size:30px;
}

.customer_center_btn{
    margin:18px;
    height:40px;
    background-color: rgb(207, 207, 207);
    border:none;
    cursor:pointer;
    font-size:17px;
    padding-left:50px;
    padding-right:50px;
    margin:0;
}

.mypage_btn:hover{
    background-color: gray;
    transition:0.4s;
}

.inline_content{
    display:inline-block;
}

.source_text{
    font-size:10px;
    padding:0;
    margin:0;
}

.bc_list_container{
    width:90%;
    height:700px;
    padding-top: 40px;
    margin:0 auto;
}

.bc_list{
    margin:0 auto;
    width:90%;
    height:600px;
}

.bc_list_item{
    width:320px;
    height:170px;
    border-radius:15px;
    background-color: lightgray;
    display: inline-block;
    margin:11px;
}

.give_btn{
    float:right;
    font-size:35px;
    margin-right:85px;
    background-color: white;
    border:none;
    cursor:pointer;
}

.modal_body {

    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width: 80px;
    height: 80px;
    background-color:green;
}

.modal_container{
    position: fixed;
    z-index: 1;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal_button{
    cursor:pointer;
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}