body, html{
    width:100%;
    height:100%;
    margin:0;
}

h3{
    display:block;
    margin:0;
}

header {
    background-color: rgb(207, 207, 207);
    height:150px;
  }

footer {
    height:170px;
    background-color:#F0F0F0;
    text-align: center;
    border-top-right-radius: 120px;
}

.work_space{
    width:100%;
    height:700px;
    text-align: center;
}

.menu-btn{
    background-color: rgb(244, 241, 241);
    margin:20px;
    text-align: center;
    width:90px;
    height:90px;
    border:none;
    cursor:pointer;
}

.mypage-btn{
    font-size:20px;
    height:150px;
    background-color: transparent;
    border:none;
    cursor:pointer;
    min-width: 100px;
}

.customer-center-btn{
    
    height:40px;
    background-color: #F0F0F0;
    border:none;
    cursor:pointer;
    font-size:17px;
    padding-left:50px;
    padding-right:50px;
    margin:0;
    text-align:left;
}

.mypage-btn:hover{
    background-color: gray;
    transition:0.4s;
}

.inline_content{
    display:inline-block;
}

.source_text{
    font-size:10px;
    padding-left:60px;
    padding-right:60px;
    margin:0;
}

.bc_list_container{
    width:90%;
    height:700px;
    padding-top: 40px;
    margin:0 auto;
}

.bc_list{
    margin:0 auto;
    width:90%;
    height:600px;
}

.bc_list_item{
    width:320px;
    height:170px;
    border-radius:15px;
    background-color: lightgray;
    display: inline-block;
    margin:11px;
}

.give_btn{
    float:right;
    font-size:35px;
    margin-right:85px;
    background-color: white;
    border:none;
    cursor:pointer;
}

.modal_body {
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.modal_container{
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 90%;
    height: 80%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal_button{
    cursor:pointer;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

  section {
    position: relative;

    height: 800px;
  }


  .wrapper {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .donorCard {
    position: absolute;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .card-title {
    height: 20%;
    background-color: darkgrey;
    border-radius: 30px 30px 0% 0;
  }

  .cardBody {
    height: 80%;
    background-color: rgb(78, 77, 77);
    color: #fff;
    border-radius: 0 0 30px 30px;
  }

  .cardNoWrapper {
    width: 90%;
    height: 60%;
    background-color: bisque;
    border-radius: 5px;
  }

  .modal_close_btn{
    display: inline-block;
    width:80px;
    height:80px;
    font-size:35px;
    color:rgb(33, 33, 33);
    background-color: rgba(103, 99, 99, 0.7);
    border-radius: 100%;
    border:none;
    cursor:none;
    margin:0;
  }

  .f-left {
    float:left;
  }

  .f-right {
    float:right;
  }

  .login-form {
    background-color:white;
    width:500px;
    height:500px;
    text-align: center;
    margin:100px auto;
    border:none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    padding:50px;
  }

  .signUp-form {
    background-color:rgb(207, 207, 207);
    width:35%;
    text-align: center;
    margin:100px auto;
  }

  .input-style {
    margin:7px auto;
    width:50%;
  }

  .d-inline-block {
    display: inline;
  }

  .transparent-bg-btn {
    background-color: transparent;
    border:none;
  }

  .signup-proced{
    margin-top: 10px;
    width:100px;
    height:30px;
    background-color: white;
    border-radius: 10px;
}

.trans-bg{
    background-color:transparent;
}

.menufont{
  text-decoration-line: none;
  font-size: 17px;
  font-weight: bold;
  color: black;
  min-width: 100px;
  text-align: center;
  float: right;
}

.input-underline {
  border:none;
  background:none;
  border-bottom:solid gray 1px;
  border-radius: none;
}